<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
       <link href='http://fonts.googleapis.com/css?family=Dorsa|Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    </head>

    <body data-development-grid="show" class="expanded-menu">
      {{ content }}

      <script src="bower_components/jquery/jquery.min.js"></script>
      <script src="bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
      <script src="bower_components/twig.js/twig.min.js"></script>
      <script src="javascripts/grid.min.js"></script>
      <script src="javascripts/main.js"></script>
    </body>
</html>
